/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-breathing {
  animation: breathing 2s forwards;
}

body {
  @apply bg-black; /* Utilisez les classes Tailwind pour définir le fond noir */
  background-image: radial-gradient(rgb(26, 26, 26) 1px, transparent 0); /* Configurez les points blancs */
  background-size: 40px 40px; /* Définissez la taille de la grille */
  background-position: 0 0; /* Ajustez la position si nécessaire */
  font-family: var(--font-poppins);

}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

/* Ajoutez ceci à votre fichier CSS global */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}
