/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-breathing {
  animation: breathing 2s forwards;
}

body {
  @apply bg-black; /* Utilisez les classes Tailwind pour définir le fond noir */
  background-image: 
    radial-gradient(circle, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 1) 100%), /* Dégradé radial plus prononcé */
    linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px), /* Quadrillage vertical */
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1px, transparent 1px); /* Quadrillage horizontal */
  background-size: 
    100% 100%, /* Dégradé radial couvrant tout le fond */
    50px 50px, /* Taille du quadrillage */
    50px 50px; /* Taille du quadrillage */
  background-position: 
    center center, /* Position du dégradé radial */
    0 0, /* Position du quadrillage vertical */
    0 0; /* Position du quadrillage horizontal */
  font-family: var(--font-poppins);
}




:root {
  --font-poppins: 'Poppins', sans-serif;
}

/* Ajoutez ceci à votre fichier CSS global */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor { /* Cursor blinking */
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: white;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
}


@keyframes shake {
  0%, 100% { transform: rotate(0deg); } /* Start and end at initial position */
  20% { transform: rotate(-12deg); } /* Shake left slightly */
  40% { transform: rotate(12deg); }  /* Shake right slightly */
  60% { transform: rotate(-6deg); } /* Shake left slightly */
  80% { transform: rotate(6deg); }  /* Shake right slightly */
}

#waving-hand {
  animation: shake 2s infinite; /* Slowed down to 2 seconds per cycle */
  animation-timing-function: ease-in-out; /* Smooth easing for natural motion */
  transform-origin: center; /* Keep pivot point at center */
  animation-delay: 3s; /* Delay between cycles */
}

